body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 40px 20px;
    background-color:  #eaeaea;
    border-radius: 5px;
    margin: 1rem auto;
}

section {
    padding: 40px 20px;

}

h2 {
    color: #4CAF50;
    font-size: 2rem;
}

ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    list-style: none;

}

li {
    padding: 20px;
    width: 250px;
    border-radius: 12px;
}

li img {
    width: 200px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
    display: block;
    border-radius: 8px;
}

h3 {
    font-family: Arial, sans-serif;
    color: #4CAF50;
}

p {
    font-family: Verdana, Tahoma, sans-serif;
   font-size: 1rem;
   color: #5D4037;
}

li h3 {
    margin: 10px 0 5px;
}

li p {
    color: #555;
}


